.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 247, 234);
  overflow-x: hidden;
  box-sizing: border-box;
}

nav {
  background-color: rgb(184, 62, 184);
  padding: 2%;
  display: flex;
  justify-content: space-around; /* Even spacing */
  color: white;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 2% 2%; /* might want to remove*/
}

footer {
  background-color: rgb(184, 62, 184);
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: large;
}

/*html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 247, 234);
}

header {
  background-color: rgb(184, 62, 184); // Deep blue
  color: white;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; // Align logo left, text right
}

nav {
  background-color: purple; // Dark blue
  padding: 10px;
  display: flex;
  justify-content: space-around; // Even spacing
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.login{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

input{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  margin: 10px;
}

.home, .signup{
  display: block;
  height: 100%;
  text-align: center;
  margin: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: plum;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover{
  background-color: #e8bef7;
}

form{
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  padding: 100px;
  border-radius: 30px;
  background-color: #facfe4;
  height: 500px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  margin: 0px 150px 0px 150px;
  max-width: 100%;
  margin-top: 60px;
  align-items: center;
}

.index{
  padding: 20px;
  text-align: center;
  align-items: center;
  margin: 20px auto;
  max-width: 90%;
  height: 100%;
  
}
*/
